<head>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="center">
       <p class="profile">LOGGED IN AS: {{ username }}</p>
            <h1>{{ title }}</h1>
            
             <div class="container">
                <table>
            {{#each product}}

           <tr>
                <td>{{this.filename}}</td>
                <td>{{this.description}}</td>
                <td>{{this.price}}</td>
                <td>{{this.status}}</td>
            </tr>
           
            {{/each}}
            </table>
             </div>

      


    </div>
</body>